@(studentFrom:Form[Student])
@import helper._

@StudentControllerViews.base_view("Edit Student"){
    @helper.form(action = helper.CSRF(routes.StudentsController.updateStudent())){
@*       @helper.inputText(studentFrom("id"),'class->"form-control")*@
@*       @helper.inputText(studentFrom("name"),'class->"form-control")*@
@*        @helper.inputText(studentFrom("age"),'class->"form-control")*@

        @partials._student_form(studentFrom)


        <button type="submit" class="btn btn-primary">Add Student</button>
    }
}